bitsandbytes
datasets
loralib
sentencepiece
accelerate
appdirs
black
black[jupyter]
fire
sentencepiece
gradio
regex
parameterized
pybind11
six
numpy
rouge_score
deepspeed
openai
gensim==3.8.2
isort>=5.5.4
cpm_kernels
